%header
  Orchestra
  %input{:placeholder => "Type for pixie dust...", :type => "text"}/



%svg#bucketdrums{:viewbox => "0 0 664.1 289.4", :xmlns => "http://www.w3.org/2000/svg"}
  %title bucketdrums
  %polygon{:fill => "#7c7c7c", :opacity => "0.15", :points => "664.2 289.6 -0.2 289.6 84.8 196.5 592.1 196.5 664.2 289.6"}
  %g#can-2
    %polygon#can-2-body{:fill => "#70c1b3", :points => "389.1 193.7 259.5 193.7 265.8 53.6 382.5 53.6 389.1 193.7", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#can-2-rim{:fill => "#d4d5d6", :height => "3.82", :stroke => "#000", "stroke-miterlimit" => "10", :width => "116.8", :x => "265.8", :y => "53.6"}
    %rect#can-2-handle{:fill => "#d4d5d6", :height => "2.49", :rx => "1.2", :ry => "1.2", :stroke => "#000", "stroke-miterlimit" => "10", :transform => "translate(-37.7 121.2) rotate(-23.7)", :width => "24.7", :x => "257.2", :y => "149"}
    %rect#can-2-handle-joint{:fill => "#d4d5d6", :height => "8.58", :stroke => "#000", "stroke-miterlimit" => "10", :width => "6.6", :x => "279", :y => "140.7"}
  %g#bucket-2
    %polygon#bucket-2-body{:fill => "#247ba0", :points => "405 211.5 340.6 211.5 342.2 133.9 403.5 133.9 405 211.5", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#bucket-2-rim{:fill => "#247ba0", :height => "20.49", :stroke => "#000", "stroke-miterlimit" => "10", :width => "66.7", :x => "339.4", :y => "197.6"}
    %rect#bucket-2-detail{:fill => "#d4d5d6", :height => "2.41", :stroke => "#000", "stroke-miterlimit" => "10", :width => "65.5", :x => "340.6", :y => "211.1"}
  %g#can-3
    %polygon#can-3-body{:fill => "#70c1b3", :points => "556.1 231.7 445.8 231.7 454.7 111.6 549 111.6 556.1 231.7", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#can-3-rim{:fill => "#d4d5d6", :height => "4.15", :stroke => "#000", "stroke-miterlimit" => "10", :width => "94.6", :x => "454.7", :y => "111.6"}
  %g#can-1
    %polygon#can-1-body{:fill => "#70c1b3", :points => "237.3 231.7 127 231.7 135.9 111.6 230.2 111.6 237.3 231.7", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#can-1-rim{:fill => "#ccc", :height => "4.04", :stroke => "#000", "stroke-miterlimit" => "10", :width => "94.6", :x => "135.9", :y => "111.6"}
    %g#can-1-handle
      %path{:d => "M197.5,216.9v4.8a5.3,5.3,0,0,1-5.3,5.2H174.1a4.8,4.8,0,0,1-4.6-4.9v-5.1h-3V224a4.9,4.9,0,0,0,4.7,4.9h23.9a5.4,5.4,0,0,0,5.4-5.2v-6.8h-3Z", :fill => "#d4d5d6", :stroke => "#000", "stroke-miterlimit" => "10"}
      %rect{:fill => "#d4d5d6", :height => "5.14", :stroke => "#000", "stroke-miterlimit" => "10", :width => "8.6", :x => "164", :y => "213.7"}
      %rect{:fill => "#d4d5d6", :height => "5.14", :stroke => "#000", "stroke-miterlimit" => "10", :width => "8.6", :x => "194.2", :y => "213.7"}
  %g#bucket-3
    %polygon#bucket-3-body{:fill => "#247ba0", :points => "455.8 239.5 391.4 239.5 393.1 161.9 454.2 161.9 455.8 239.5", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#bucket-3-rim{:fill => "#247ba0", :height => "20.49", :stroke => "#000", "stroke-miterlimit" => "10", :width => "66.7", :x => "390.2", :y => "225.6"}
    %rect#bucket-3-detail{:fill => "#d4d5d6", :height => "1.8", :stroke => "#000", "stroke-miterlimit" => "10", :width => "65.5", :x => "391.4", :y => "235.9"}
    %rect#bucket-3-handle{:fill => "#d4d5d6", :height => "3.33", :stroke => "#000", "stroke-miterlimit" => "10", :transform => "matrix(0.87, 0.5, -0.5, 0.87, 177.92, -192.42)", :width => "33.1", :x => "431.5", :y => "234.1"}
  %g#bucket-1
    %polygon#bucket-1-body{:fill => "#247ba0", :points => "269.6 236.4 205.2 236.4 206.7 158.8 267.8 158.8 269.6 236.4", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#bucket-1-rim{:fill => "#247ba0", :height => "20.49", :stroke => "#000", "stroke-miterlimit" => "10", :width => "66.7", :x => "204", :y => "222.6"}
    %rect#bucket-1-detail{:fill => "#d4d5d6", :height => "1.94", :stroke => "#000", "stroke-miterlimit" => "10", :width => "65.6", :x => "204.5", :y => "233.8"}
    %rect#bucket-1-handle{:fill => "#d4d5d6", :height => "3.66", :stroke => "#000", "stroke-miterlimit" => "10", :transform => "translate(-76.1 106.8) rotate(-23.7)", :width => "35.8", :x => "198.3", :y => "232.7"}
  %g#pot-1
    %path#pot-1-body{:d => "M275.1,191.7h54.6a13.1,13.1,0,0,1,13.1,13.1v39.8a0,0,0,0,1,0,0H263a0,0,0,0,1,0,0V203.8A12.1,12.1,0,0,1,275.1,191.7Z", :fill => "#f25f5c", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#pot-1-rim{:fill => "#d4d5d6", :height => "6.34", :stroke => "#000", "stroke-miterlimit" => "10", :width => "81.1", :x => "263", :y => "238.2"}
    %rect#pot-1-handle-R{:fill => "#50514f", :height => "7.18", :rx => "3.6", :ry => "3.6", :stroke => "#000", "stroke-miterlimit" => "10", :width => "13", :x => "337.7", :y => "224.5"}
  %g#pot-2
    %path#pot-2-body{:d => "M503.6,205.6h73.3A13.1,13.1,0,0,1,590,218.7v52.2a0,0,0,0,1,0,0H491.5a0,0,0,0,1,0,0V217.7A12.1,12.1,0,0,1,503.6,205.6Z", :fill => "#f25f5c", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#pot-2-handle-R{:fill => "#50514f", :height => "7.18", :rx => "3.6", :ry => "3.6", :stroke => "#000", "stroke-miterlimit" => "10", :width => "18.9", :x => "580.5", :y => "249.9"}
    %rect#pot-2-handle-L{:fill => "#50514f", :height => "7.18", :rx => "3.6", :ry => "3.6", :stroke => "#000", "stroke-miterlimit" => "10", :width => "18.9", :x => "482", :y => "248.4"}
    %rect#pot-2-rim{:fill => "#d4d5d6", :height => "4.5", :stroke => "#000", "stroke-miterlimit" => "10", :width => "103.3", :x => "489", :y => "268.4"}
  %g#lid-1
    %ellipse#lid-1-handle{:cx => "134.3", :cy => "240.7", :fill => "#50514f", :rx => "19.5", :ry => "6", :stroke => "#000", "stroke-miterlimit" => "10"}
    %path#lid-1-body{:d => "M200.8,250.3H67.8c0-7.5,6.1-13.6,12.7-10H186.4c8.3-3.6,14.4,2.5,14.4,10h0Z", :fill => "#f25f5c", :stroke => "#000", "stroke-miterlimit" => "10"}
    %rect#lid-1-rim{:fill => "#d4d5d6", :height => "2.82", :stroke => "#000", "stroke-miterlimit" => "10", :width => "133", :x => "67.8", :y => "246.3"}
  %g#cup-2
    %rect#cup-2-body{:fill => "#ffe066", :height => "47.53", :stroke => "#000", "stroke-miterlimit" => "10", :width => "34.9", :x => "370.9", :y => "216.1"}
    %rect#cup-2-rim{:fill => "#d4d5d6", :height => "3.86", :stroke => "#000", "stroke-miterlimit" => "10", :width => "35.5", :x => "370.9", :y => "259.7"}
    %path#cup-2-handle{:d => "M380.5,224.1c-4,0-8,6.2-8,13.8s4,13.8,8,13.8V224.1Z", :fill => "#50514f", :stroke => "#000", "stroke-miterlimit" => "10"}
  %g#cup-1
    %rect#cup-1-body{:fill => "#ffe066", :height => "39.76", :stroke => "#000", "stroke-miterlimit" => "10", :width => "27.5", :x => "249.2", :y => "221.1"}
    %rect#cup-1-rim{:fill => "#d4d5d6", :height => "2.82", :stroke => "#000", "stroke-miterlimit" => "10", :width => "27.5", :x => "249.2", :y => "258"}
    %path#cup-1-handle{:d => "M273.9,251.7c2.7,0,5.1-5,5.1-11.1s-2.5-11-5.2-11v22.1Z", :fill => "#50514f", :stroke => "#000", "stroke-miterlimit" => "10"}
  / Keyboard Interaction
  %g#keyboard.hidden{:opacity => "0.5"}
    %g#Key-89
      %rect{:fill => "none", :height => "12.56", :stroke => "#50514f", "stroke-miterlimit" => "10", :width => "12.6", :x => "67.8", :y => "252.7"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "9.63", "font-weight" => "700", :transform => "translate(70.8 262.7) scale(1.1 1)"} A
    %g#Key-72
      %rect{:fill => "none", :height => "9.15", :stroke => "#50514f", "stroke-miterlimit" => "10", :width => "9.1", :x => "397.3", :y => "266.3"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "7.02", "font-weight" => "700", :transform => "translate(399.3 273.6)"} B
    %g#Key-71
      %rect{:fill => "none", :height => "10.59", :stroke => "#50514f", "stroke-miterlimit" => "10", :width => "10.6", :x => "248.8", :y => "263.6"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "8.12", "font-weight" => "700", :transform => "translate(251.3 272)"} X
    %g#Key-78
      %rect{:fill => "none", :height => "11.08", :stroke => "#50514f", "stroke-miterlimit" => "10", :width => "11.1", :x => "581.2", :y => "275.5"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "10.69", "font-weight" => "700", :transform => "translate(581.6 284.7)"} M
    %g#Key-66
      %rect{:fill => "none", :height => "17.31", :stroke => "#50514f", "stroke-miterlimit" => "10", :width => "17.3", :x => "325.8", :y => "247.3"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "16.7", "font-weight" => "700", :transform => "translate(328.7 261.7)"} C
    %g#Key-76
      %rect{:fill => "none", :height => "18.06", :stroke => "#50514f", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "18.1", :x => "429", :y => "125.2"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "17.42", "font-weight" => "700", :transform => "translate(431.2 140.3)"} N
    %g#Key-75
      %rect{:fill => "none", :height => "14.05", :stroke => "#50514f", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "14", :x => "389.5", :y => "116.7"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "13.55", "font-weight" => "700", :transform => "translate(391.8 128.4)"} V
    %g#Key-74 
      %rect{:fill => "none", :height => "16.28", :stroke => "#50514f", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "16.3", :x => "237.8", :y => "129.4"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "15.71", "font-weight" => "700", :transform => "translate(241.7 143.5)"} Z
    %g#Key-70
      %rect{:fill => "none", :height => "34.59", :stroke => "#50514f", "stroke-miterlimit" => "10", "stroke-width" => "3", :width => "34.6", :x => "513.8", :y => "72.9"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "36", "font-weight" => "700", :transform => "translate(520.4 103.2)"} E
    %g#Key-68
      %rect{:fill => "none", :height => "34.59", :stroke => "#50514f", "stroke-miterlimit" => "10", "stroke-width" => "3", :width => "34.6", :x => "266.8", :y => "14.9"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "30", "font-weight" => "700", :transform => "translate(268.4 45.2)"} W
    %g#Key-83
      %rect{:fill => "none", :height => "30.1", :stroke => "#50514f", "stroke-miterlimit" => "10", "stroke-width" => "3", :width => "30.1", :x => "136.9", :y => "77.3"}
      %text{:fill => "#50514f", "font-family" => "Adelle Sans", "font-size" => "31.33", "font-weight" => "700", :transform => "translate(138.7 103.7)"} Q
/ Audio
%audio#can1-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/can1.mp3", :type => "audio/mp3"}
%audio#can2-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/can2.mp3", :type => "audio/mp3"}
%audio#can3-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/can3.mp3", :type => "audio/mp3"}
%audio#bucket1-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/bucket1.mp3", :type => "audio/mp3"}
%audio#bucket2-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/bucket2.mp3", :type => "audio/mp3"}
%audio#bucket3-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/bucket3.mp3", :type => "audio/mp3"}
%audio#pot1-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/pot1.mp3", :type => "audio/mp3"}
%audio#pot2-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/pot2.mp3", :type => "audio/mp3"}
%audio#cup1-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/cup2.mp3", :type => "audio/mp3"}
%audio#cup2-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/cup1.mp3", :type => "audio/mp3"}
%audio#lid1-Audio
  %source{:preload => "auto", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/123180/lid1.mp3", :type => "audio/mp3"}
%section.w
  .w-head
    %i.w-eye
    %i.w-eye.w-eye_right
  .w-arm
  .w-arm.w-arm_right
  .w-leg
    .w-leg-top
    .w-leg-bottom
      .w-heel
      .w-shoelace
      .w-shoelace
  .w-leg.w-leg_right
    .w-leg-top
    .w-leg-bottom
      .w-heel
      .w-shoelace
      .w-shoelace
  .w-body
    .w-body-skin
    .w-body-nipples

%ul#piano
  %li.key{"data-key" => "C4"}
    .black-key{"data-key" => "C#4"} R
    D
  %li.key{"data-key" => "D4"}
    .black-key{"data-key" => "D#4"} T
    F
  %li.key{"data-key" => "E4"}
    G
  %li.key{"data-key" => "F4"}
    .black-key{"data-key" => "F#4"} U
    H
  %li.key{"data-key" => "G4"}
    .black-key{"data-key" => "G#4"} I
    J
  %li.key{"data-key" => "A4"}
    .black-key{"data-key" => "A#4"} O
    K
  %li.key{"data-key" => "B4"}
    L
  %li.key{"data-key" => "C5"}
    ;

%footer
  %div
    %textarea#score{:cols => "50", :rows => "10"}
      :preserve
        ドレミファミレドー
        ミファソラソファミー
        ドードードードー
        ドレミファミレドー
  %div
    %button#play{:onclick => "play_music();"} Play!
    %button#stop{:onclick => "location.reload();"} STOP！




